# env / secrets
.env
.env.*
!.env.example

# node / next
node_modules
.next
out
dist
.cache
.turbo
.vercel
coverage

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS/editor
.DS_Store
Thumbs.db
.idea
.vscode
